#
# Default excludes
#

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# eclipse project file
.settings/
.classpath
.project

# Mac specific files
.DS_Store